*{
    margin: 0px;
    padding: 0px;
    font-family: 'Agdasima', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background-color: white;
    margin: auto;

}
.head{
    padding-top: 37px;
}
.head,.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lists ul{
    display: flex;
    align-items: center;
    gap: 30px; 
    list-style: none;
}
.lists ul>li{
    text-align: center;

}
/* 

 */

main{
    width: 80vw;
    margin: 0px auto;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box {
    max-width:342px ;
    width: 100%;
}
.box h5{
    text-align: center;
    padding-top: 12px;
}
.iktu-header{
    text-align: center;
    padding-bottom: 50px;
}
.iktu-header h1
{
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.iktu-header h6{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.online-games{
    margin-top: 120px;
}
.last-text-part{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-last-part{
padding-top: 120px;
}
.last-part{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
#kitty{
    position: relative;
   bottom:  150px;
   left: 450px;
}
.last-text-part h1{
    font-size: 48px;
    font-weight: 700;
}
.last-text-part h6
{color: #0b022355;
    font-size: 18px;
    font-weight: 400;}
#text-editing{
    color: #E562C7;
font-size: 48px;
font-weight: 700;
}
.griding-part{
    margin-top: 50px ;
    padding: 150px;
    background-color: #FFF9FC;
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(5,1fr);
}
.part-img:hover{
    color: #FF55AE;
    border-color: #FF55AE;
}
.part-img{
    display: flex;
    border: 2px solid white;
    gap: 12px;
    align-items: center;
    text-align: center;
    width: max-content;
    border-radius: 50px;
    background: #FFF;
}
.fotter-part{
    background-color:#0B0223;
    color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 50px;
 padding: 120px;
}
.choto-sec{
    display: flex;
}
.choto-sec h1{
    text-align: center;
font-size: 45px;
font-weight: 700;

}
.fotter-list ul{
   display: grid;
   grid-template-columns: repeat(6,1fr);
    gap: 60px;
    list-style: none;
}
.link-sections a> img{
    padding-left: 40px;
}

.list-edit ul{
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
gap: 30px;
display: grid;
grid-template-columns: repeat(4,1fr);
list-style: none;

}
.copy-right
{
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;

}





@media screen and (max-width:546px ) {
    .head,.lists ul {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    }

.gamer{
    padding-bottom: 62px;
}    
#edit-1{
gap:  62px;
}
.img-section{
    
    grid-template-columns: 1fr;
}
.box {
    
    width: auto;
}
.online-games{
    margin-top: 50px;
    margin-left: 12px;
}
.iktu-header{
 
    padding-top: 20px;
}
main{
    max-width :390px;
    margin:0px 10px 0px 10px;
}
.iktu-header h1
{
    color: #0B0223;
    text-align: right;
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    margin-left: 12px;
}
.iktu-header h6{
  
text-align: center;
font-size: 12px;
font-weight: 400;
}
.last-part{
    flex-direction: column-reverse;
    gap: 10px;
}
.img-last-part img{
    width: 100%;
    
}
#kitty{
    position:relative;
width: 30%;
bottom: 70px;
left:200px;
}
.img-last-part{
    padding-top: 30px;
    padding-left: 30px;
    }
 .last-text-part{
   padding-bottom: 50px;
  
 }   
 .last-part{
    margin-top: 80px;
    margin-left: 40px;
 }
 .last-text-part h1{
    font-size: 25px;
    font-weight: 400;
}#text-editing{
font-size: 28px;
font-weight: 400;

}
.last-text-part h6
{   padding-top: 14px;
    font-size: 12px;
    font-weight: 200;}
    .griding-part{
        margin-top: 50px;
        padding: 10px;
        row-gap: 20px;
        grid-template-columns: repeat(3,0.5fr);
    }
    .part-img:hover{
        color: #FF55AE;
        border-color: #FF55AE;
    }
    .part-img{
        margin: 5px;
        font-size: 12px;
        width: max-content;
        width: 100%;
        
    }
    .part-img img{
        height: 30px;
        width: 30px;

    }
    .choto-sec{
        padding-top: 148px;
    }
    .choto-sec h1{
        text-align: center;
    font-size: 30px;
    font-weight: 300;
    
    }
    .fotter-list ul{
        grid-template-columns: repeat(3,1fr);
         gap: 20px; 
        font-size: 12px;
        font-weight: 400;
        gap: 10px;
     }
     .list-edit ul{
        color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    font-weight: 200;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    }
    .fotter-part{
        
        padding: 10px;
    }
    .link-sections a> img{
        padding-left: 40px;
    }
}
